@{
    ViewData["ReleaseVersion"] = "V - 1.0";
}
<div class="row">

    <table class="table" style="border: solid  4px red; ">
        <tr><td style="height:10px;"></td></tr>
        <tr style="border: dotted 4px orange; text-align:center; background-color:antiquewhite; font-size:14pt; font-weight:400;">
            <td>Welcome Azure DevOps CI/CD- NEW VERSION DEPLOYED</td>
        </tr>
        <tr><td style="height:10px;"></td></tr>
        <tr style="border: dotted 4px orange; text-align:center; background-color:antiquewhite; font-size:14pt; font-weight:200;">
            <td>Current Release Version of Applicaion is:   @ViewData["ReleaseVersion"] </td>
        </tr>
    </table>
</div> 